<%- include('./partials/header') %>

<h2>Welcome to Income Management Application</h2>


<h3>
<p>This income management app allows user to keep track of personal income and expense as well as customizing expense category.</p>
<p>This will help you keep track of your personal income as well as filtering the activities by month.</p>
</h3>

<%- include('./partials/footer') %>