:root {
    --main-bg-color: #1f1d1c;
    --main-box-color: #020001;
    --main-text-color: #f1da02;
    --main-title-color: #32ed87;
    --expense-text: #d02855;
    --income-text: #00b9de;
    --border: #faf9f6;
    --pie1: #14cb30;
    --pie2: #f7ca67;
    --pie3: #ce96ff;
    --pie4: #1bddb0;
    --pie5: #579ff5;
    --pie6: #fbce75;
    --pie7: #ff696a;
    --pie8: #4b62e9;
    --pie9: #ff8d13;
    --pie10: #f83053;
    --pie11: #16399e;
    --pie12: #a1e50b;
    --pie13: #26afff;
    --pie14: #c5b5f5;
    --pie15: #e4dd2d;
}

* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 100vh;
    grid-template-areas:
        'nav'
        'main';
}

nav {
    color: var(--main-title-color);
}

body > nav {
    grid-area: nav;
    color: var(--main-title-color);
    background-color: var(--main-box-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 20px 30px;
}

nav > img {
    width: 60px;
    object-fit: contain;
    margin-right: auto;
}

body > main {
    grid-area: main;
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    overflow-y: scroll;
}

body > main h1:first-child {
    margin-bottom: 50px;
}

nav > a {
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover:not(.active) {
    color: white;
    background-color: #424748;
}

nav > a.active {
    color: white;
    cursor: default;
}

#new-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

#new-form input[type='submit'] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
}

table {
    font-size: 20px;
}

table thead th {
    padding: 5px;
    border-bottom: 2px solid #424748;
}

table td {
    text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
    min-width: 100px;
}

#list a {
    border-radius: 4px;
    background-color: #b8c0c2;
    padding: 4px;
    text-decoration: none;
    font-size: 14px;
}

#list a:hover {
    background-color: white;
}

#show-page {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

#show-page div:nth-child(even) {
    font-weight: bold;
}

hr {
    color: #424748;
}

#badge-container {
    display: flex;
    flex-wrap: wrap;
    /* padding: 1rem; */
    width: 80%;
    border: 2px solid #b8c0c2;
    border-radius: 0.5rem;
    margin: 0.5rem 0 2rem;
}

.badge {
    background-color: #b8c0c2;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
}

#show-page ul {
    margin: 0 0 2rem;
    padding: 0;
    list-style: none;
}

#show-page li {
    font-weight: bold;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

.login img {
    height: 30px;
}

.review-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-user img {
    border-radius: 50%;
    height: 40px;
}

h1 {
    color: var(--main-title-color);
}

h2 {
    color: var(--main-text-color);
}

thead {
    color: var(--main-title-color);
}

.income tbody {
    color: var(--income-text);
}

.expense tbody {
    color: var(--expense-text);
}

button.add-expense {
    background-color: var(--expense-text);
}

button.add-income {
    background-color: var(--income-text);
}

#display-month {
    color: var(--main-text-color);
}

.dashboard {
    display: flex;
    flex-direction: column;
}

.side-by-side {
    display: flex;
}

#remove {
    background-color: var(--pie10);
}

form {
    color: var(--main-title-color);
    background-color: var(--main-bg-color);
    padding: 30px;
}
