<%- include('../partials/header') %>
<form id="new-form" action="/category" method="POST">
  <label>Category:</label>
  <input type="text" name="category">
  <input type="submit" value="Add New Category">
</form>
<%- include('../partials/footer') %>