<%- include('../partials/header') %>

<form id="new-form" action="/expense" method="POST">
  <label>Date:</label>
  <input type="date" name="date" required>
  <label>Detail:</label>
  <input type="text" name="detail" required>
  <label>Category:</label>
  <select name="category">
    <option value='Food'>FOOD</option>
    <option value='Clothing'>CLOTHING</option>
    <option value='Mortgage'>MORTGAGE</option>
    <option value='Rental'>RENTAL</option>
    <option value='Car Lease'>CAR LEASE</option>
    <option value='Miscellaneous'>MISCELLANEOUS</option>
    <%- categories.map(c =>
        `<option value="${c.category.toUpperCase()}">${c.category.toUpperCase()}</option>`).join('')%>
  </select>
  <!-- add New Category -->
    <button><a href='/category/new'>ADD NEW CATEGORY</a></button>
</br>
  <!-- <input type="text" name="category" required> -->
  <label>Amount:</label>
  <input type="number" name="amount" required>
  <label>Note:</label>
  <input type="text" name="note">
  <input type="submit" value="Add Expense">
</form>

<%- include('../partials/footer') %>