<%- include('../partials/header') %>

<form id="new-form" action="/expense" method="POST">
  <label>Date:</label>
  <input type="date" name="date" required>
  <label>Detail:</label>
  <input type="text" name="detail" required>
  <label>Category:</label>
  <select name="category">
    <option value='Food'>Food</option>
    <option value='Clothing'>Clothing</option>
    <option value='Mortgage'>Mortgage</option>
    <option value='Rental'>Rental</option>
    <option value='Car Lease'>Car Lease</option>
    <option value='Miscellaneous'>Miscellaneous</option>
  </select>
  <!-- add New Category -->
    <button><a href='/category/new'>ADD NEW CATEGORY</a></button>
</br>
  <!-- <input type="text" name="category" required> -->
  <label>Amount:</label>
  <input type="number" name="amount" required>
  <label>Note:</label>
  <input type="text" name="note">
  <input type="submit" value="Add Expense">
</form>

<%- include('../partials/footer') %>